<h2>User Details</h2>



<div class="row">
    <a routerLink=""><button (click)='deleteUser(user)' type="button" class="btn btn-danger">Delete</button></a>
    <button (click)="displayButtons()" type="button" class="btn btn-primary">Edit</button>
</div>


<p>Id: {{user?.id}}</p>
<p>First Name: {{user?.firstName}}</p>
<p>Last Name: {{user?.lastName}}</p>
<p>Email: {{user?.email}}</p>
<p>Phonenumber: {{user?.phoneNumber}}</p>

<div id="buttons" class="row" >
    <button id="cancelButton" style='visibility:hidden' type="button" class="btn btn-primary">Cancel</button>
    <button id="saveButton" style='visibility:hidden' type="button" class="btn btn-primary">Save</button>
</div>


