<a routerLink="New"><button type="button" class="btn btn-primary">Add new user</button></a>
<table #userTable class="table table-striped table-bordered table-hover">
    <thead>
        <tr><th>Id</th><th>First name</th><th>Last name</th><th>Phone</th><th>Email</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{user.id}}</td>
            <td><a (click)="onClickUser(user)" routerLink="{{user.id}}">{{user.firstName}}</a></td>
            <td>{{user.lastName}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table>

